body {
  background-color: #000;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

.headerContainer {
  margin-top: 24px;
  width: 225px;
  margin-bottom: 58px;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.add {
  width: 213px;
  height: 160px;
  border: 1px solid #9B9B9B;
  /*background-color: #9B9B9B;*/
  border-radius: 15px;
}

.plus {
  width: 44px;
  height: 44px;
  margin: auto;
  margin-top: 55px;
}

.edit {
  width: 213px;
  height: 160px;
  border: 1px solid #9B9B9B;
  background-color: #9B9B9B;
  border-radius: 15px;
  margin-bottom: 30px;
}

.img {
  width: 90px;
  height: auto;
  margin-top: 20px;
}

.edit1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 18px;
}

.setting {
  width: 34px;
  height: 34px;
  margin-right: 33px;
}

.setting:first-child {
  padding-bottom: 10px;
}

.edit2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 18px;
}

.productName {
  color: #FFF;
}
