@font-face {
  font-family: "playfair";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "avenir";
  src: url("../fonts/Avenir.ttc");
}

body {
  background: black;
}

.header {
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navTitle {
  font-family: "playfair";
  font-size: 36px;
  color: #fff;
  margin-bottom: 6px;
  margin-left: 5px;
}

.logoPart {
  width: max-content;
  height: 70px;
  padding-top: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 60px;
  padding-bottom: 25px;
}

.navItems {
  padding-left: 50px;
  font-family: "playfair";
  color: #fff;
  font-family: 20px;
}

.productShow {
  margin-left: 100px;
  margin-right: 100px;
}

.home {
  width: 1240px;
  height: 402px;
  margin-top: 45px;
  margin-bottom: 63px;
  overflow: hidden;
}

.homeImg {
  width: 100%;
  height: auto;
  margin-top: -200px;
}

.typeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1240px;
  height: 180px;
  margin-right: 100px;
}
.spacer{
  background-color: #FFF;
  height: 1px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.types {
  width: 280px;
  height: 180px;
}

.typesText {
  color: #fff;
  font-size: 30px;
  position: absolute;
  text-shadow:1px 1px black;
  padding-top: 80px;
  padding-left: 180px;
  z-index: 1;
  width: min-content;
  font-family: "playfair";
}

.typesImg {
  width: 100%;
  filter: grayscale(100%);
}

.types:hover> .typesImg{
  filter: grayscale(0%);
  transition: 0.3s ease;
}
